<h2>Create a New Yarn</h2>

<form class='wide' action='/yarns' method='post'>
    <label for='name'>Brand Name: </label>
        <input type='text' name='name'><br>
    <label for='color'>Main Color: </label>
        <input type='text' name='color'><br>
    <label for='weight'>Yarn Weight: </label>
        <input type='text' name='weight'><br>
    <label for='fiber'>Fiber Content: </label>
        <input type='text' name='fiber'><br>
    <label for='num_of_skeins'>Number of Skeins:</label>
        <input type='text' name='num_of_skeins'><br>
    <label for='yardage'>Yardage: </label>
        <input type='text' name='yardage'><br>
    <input class='button' type='submit' value='Add Yarn'>
</form>