<h2>Create a New Yarn</h2>

<form action='/yarns' method='post'>
    <label for='name'>Brand Name: </label>
        <input type='text' name='name'><br>
    <label for='color'>Main Color: </label>
        <input type='text' name='color'><br>
    <label for='weight'>Yarn Weight: </label>
        <input type='text' name='weight'><br>
    <label for='fiber'>Fiber Content: </label>
        <input type='text' name='fiber'><br>
    <input type='submit' value='Add Yarn'>
</form>