<h1>Welcome to Yarn Stasher</h1>
<p>Existing user? </p><button class='button'><a href='/login'>Log In</a></button><br>
<br>
<p>New user? </p><button class='button'><a href='/signup'>Sign Up</a></button><br>