<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>YarnStasherApp</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />

    <style>

      .topnav {
        background-color: #2f243a;
        overflow: hidden;
      }

      .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 16px;
      }

      .topnav a:hover {
        background-color: #297373;
        color: white;
      }


      .botton {
        text-decoration: none;
        text-align: center;
        padding: 15px;
        display: inline-block;
        font-size: 14px;
      }

      body {
        background-color: #d7d6d6;
      }

      a {
        text-decoration: none;
        color: #297373;
      }

      a:hover {
        background-color: #c8c6d7;
      }

      table, th, td {
        border: 1px solid #297373;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        text-align: left;
        padding: 10px;
      }

      tr:hover {
        background-color: #D7D6D6;
      }

      th {
        background-color: #2f243a;
        color: white;
      }
    </style>
  </head>
  <body>

    <div class="topnav">
      <% if logged_in? %>
        <a href="/yarns">All My Yarn</a>
        <a href="/yarns/new">Add New Yarn</a>
        <a href="/logout">Log Out</a>
      <% end %>
    </div>
    
    <div class="wrapper">
 

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Yarn Stasher</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
